footer {
	@media screen and (min-width: $medium) {
		display: flex;
		justify-content: space-between;
	}
	padding: 2em;
}

.footer-p {
	text-align: center;

	@media screen and (min-width: $medium) {
		text-align: left;
	}
}

.footer-p:first-child {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	color: gray;
}

.footer-p:last-child {
	font-size: 1.25em;
	margin-top: 1rem;
	@media screen and (min-width: $medium) {
		align-self: flex-end;
		margin-top: initial;
	}
}
