.header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	border-bottom: 1px solid #f1f1f1;
}

.logo {
	width: 25%;

	h1 {
		font-style: italic;
	}
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	height: 100%;

	&--item {
		text-align: center;
		padding-right: 1.5em;
	}
}
