@charset "UTF-8";
:root {
  --color-logo: #71b053;
  --p-menu: 0.8em; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Nevis";
  src: url("./fonts/nevis.eot");
  src: url("./fonts/nevis.eot?#iefix") format("embedded-opentype"), url("./fonts/nevis.woff") format("woff"), url("./fonts/nevis.ttf") format("truetype"), url("./fonts/nevis.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.br-none {
  border-right: none !important; }

body {
  background: url(../img/paven.png); }

@media screen and (min-width: 768px) {
  .logo {
    width: 770px;
    margin: 0 auto; } }

.logo img {
  display: block;
  margin: 0 auto;
  width: 140px; }

.main-title {
  text-align: center;
  font-size: 2.5em;
  font-family: "Nevis";
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 10px;
  text-shadow: 0 2px 1px #333;
  transition: all 0.5s; }

.main-title:hover {
  text-shadow: 0 0 4px var(--color-logo); }

.main-title a {
  text-decoration: none;
  color: var(--color-logo); }

nav {
  margin-top: 2rem;
  background-color: #333;
  box-shadow: 0 0 3px gray; }

.menu {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif; }

@media screen and (min-width: 768px) {
  .menu {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap; } }

.menu--item {
  flex: auto;
  text-align: center;
  position: relative; }

@media screen and (min-width: 960px) {
  .menu--item {
    border-right: 1px solid #ccc; }
  .menu--item:first-child {
    border-left: 1px solid #ccc; } }

.menu--item:hover > .submenu {
  display: block; }

.menu--link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: var(--p-menu);
  transition: all 0.5s; }

.menu--link:hover {
  background-color: #ccc; }

/* MENÚ DESPLEGABLE */
.submenu {
  background-color: var(--color-logo);
  position: absolute;
  z-index: 1;
  width: 100%;
  list-style: none;
  display: none;
  box-shadow: 0 2px 5px #000; }

@media screen and (min-width: 960px) {
  .submenu {
    width: 170%;
    text-align: left; } }

.submenu--link {
  padding: var(--p-menu);
  text-decoration: none;
  display: block;
  color: #fff;
  transition: all 0.5s; }

.submenu--link:hover {
  background-color: #fff;
  color: #333; }

.submenu--item:not(:last-child) {
  border-bottom: 1px solid #000; }

main {
  margin-top: 2rem; }

.widget {
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1em;
  box-shadow: 2px 2px 1px #ccc; }

.news {
  background-color: #fff;
  padding: 2em;
  box-shadow: 2px 2px 1px #ccc;
  margin-bottom: 2rem; }

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto; }
  main {
    display: flex;
    justify-content: space-between; }
  aside {
    width: 25%;
    margin-right: 1rem; }
  .news {
    width: 75%; } }

footer {
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }
