@charset "UTF-8";
:root {
  --height-header: 4.375rem;
  --bg-logo: #f2cb05;
  --color-card: #00538c;
  --color-p-card: #0a96f7;
  --color-icon-hover: #37bcf9;
  --bg-h-article: #393d3f;
  --bg-button: #31a7d2;
  --color-fb: #3b5998;
  --color-tw: #00acee;
  --color-go: #db4a39;
  --color-yu: #c4302b;
  --input-width: 85%;
  --input-form-group: 85%;
  /* Tiempos */
  --time-logo: .5s; }

@font-face {
  font-family: "icons";
  src: url("../fonts/websymbols-regular-webfont.svg") format("svg"), url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue.otf); }

@font-face {
  font-family: "TrebuchetMS";
  src: url(../fonts/TrebuchetMS.ttf) format("truetype"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  background: url(../img/pattern.png) fixed; }

/* Icono de Ajustes */
.gear,
.icon {
  font-family: "icons"; }

.container {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto; }

.mt-0 {
  margin-top: 0 !important; }

.header {
  height: var(--height-header);
  background-color: black;
  color: #fff;
  font-family: "BebasNeue"; }

.wrap {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.logo {
  background-color: var(--bg-logo);
  width: 180px;
  margin-left: 3.8rem;
  align-self: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all .8s; }
  .logo:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer; }
    .logo:hover .gear {
      animation: fromBellow var(--time-logo) linear; }
    .logo:hover h3 {
      animation: fromRight var(--time-logo) linear; }
  .logo h3 {
    font-size: 40px;
    letter-spacing: 2px;
    position: relative;
    top: 3px; }
  .logo .gear {
    font-size: 30px;
    margin-left: 1.25rem;
    margin-right: 0.5rem;
    animation: gear-rotate 2s linear infinite; }

@keyframes gear-rotate {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(360deg); } }

@keyframes fromBellow {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(200%); }
  100% {
    transform: translateY(0%); } }

@keyframes fromRight {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0%); } }

nav {
  width: 60%; }
  @media screen and (min-width: 1100px) {
    nav {
      margin-right: 4rem; } }

.menu {
  height: 100%;
  list-style: none;
  display: flex; }
  .menu--item {
    height: 100%;
    flex: auto; }
  .menu--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px; }
    .menu--link:hover {
      color: var(--bg-logo);
      transform: scale(1.25, 1.25); }

.banner {
  padding: 1em;
  background: url("../img/bakbaner.png") center;
  box-shadow: 0 0 2px gray;
  font-size: 2em;
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem auto 0;
  text-align: center;
  overflow: hidden;
  animation: moveBanner 10s linear infinite alternate; }
  .banner h1 {
    font-family: "BebasNeue";
    font-weight: normal;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px #000;
    animation: moveText 6s linear; }

@keyframes moveBanner {
  from {
    background-position: 0 0; }
  to {
    background-position: center; } }

@keyframes moveText {
  0% {
    transform: translateX(200%) scale(2.5, 2.5); }
  50% {
    transform: translateX(-200%) scale(2.5, 2.5);
    opacity: 1; }
  75% {
    transform: translateX(150%) scale(2.5, 2.5);
    text-shadow: none;
    color: transparent;
    opacity: 0; }
  100% {
    transform: translateX(0%) scale(1, 1);
    opacity: 1; } }

.cards {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  flex-basis: 17%;
  background-color: #fff;
  color: var(--color-card);
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s; }
  .card:hover {
    background-color: #000;
    color: #fff; }
    .card:hover .card--icon {
      color: var(--bg-logo);
      transform: scale(1.35, 1.35);
      animation: moveIcon .3s linear; }
    .card:hover .card--title {
      animation: bottomText .4s linear; }
    .card:hover .card--content {
      color: inherit;
      animation: showContent .4s linear; }
  .card--icon {
    color: initial;
    font-family: "icons";
    font-size: 3em;
    display: inline-block;
    margin-top: 1.5rem; }
  .card--title {
    font-size: 1.3em;
    margin-top: 2rem; }
  .card--content {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 0.5em;
    color: var(--color-p-card); }

@keyframes moveIcon {
  from {
    transform: translateY(-200%); }
  to {
    transform: translateY(0) scale(1.35, 1.35); } }

@keyframes bottomText {
  from {
    transform: translateY(-250%); }
  to {
    transform: translateY(0); } }

@keyframes showContent {
  from {
    transform: translateX(-250%); }
  to {
    transform: translateY(0); } }

/* MAIN */
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem; }
  .content h2,
  .content h3 {
    text-align: center;
    font-family: "BebasNeue";
    letter-spacing: 2px;
    font-weight: normal;
    background: url(../img/pxgray.png);
    box-shadow: 2px 2px 2px #000;
    padding: 0.25em; }
  .content h2 {
    font-size: 2em; }
  .content h3 {
    font-size: 1.5em; }

/* CADA ARTÍCULO */
.entry {
  font-size: 0.9em;
  margin-top: 3rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  padding: 1em;
  position: relative;
  font-family: "TrebuchetMS"; }
  .entry--title {
    color: var(--color-card);
    font-size: 1.5em; }
  .entry--content {
    margin-top: 1rem; }
  .entry--header {
    background-color: var(--bg-h-article);
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 0.5em;
    border-radius: 0 0 0 2px;
    font-size: 0.85em; }
  .entry--link {
    display: inline-block;
    margin-top: 1rem;
    color: var(--color-p-card); }
    .entry--link:hover {
      text-decoration: underline; }

.last-articles {
  width: 70%;
  padding-bottom: 2em; }
  .last-articles h2 {
    text-transform: uppercase; }

.aside {
  width: 25%; }
  .aside h3 {
    margin-top: 2rem; }
  .aside .find--title {
    margin-top: 0; }

[class$="form"] {
  margin-top: 2rem; }
  [class$="form"] input[type="button"],
  [class$="form"] input[type="submit"],
  [class$="form"] input[type="reset"] {
    margin-top: 1rem;
    font-family: "TrebuchetMS";
    font-size: 0.9em;
    padding: 0.5em 1.85em;
    cursor: pointer;
    background-image: linear-gradient(#3eb7e4 0%, #2ea2cd 100%);
    border: thin solid #000;
    border-left: none;
    color: #fff;
    transition: all 0.5s; }
    [class$="form"] input[type="button"]:hover,
    [class$="form"] input[type="submit"]:hover,
    [class$="form"] input[type="reset"]:hover {
      background-image: linear-gradient(#76d8fc 0%, #36b9e9 100%);
      box-shadow: 0 0 3px gray; }

.login--form {
  margin-top: 0; }

.login--box {
  box-shadow: 3px 5px 5px #ccc, -3px 0 5px #ccc;
  width: 90%;
  margin: 1rem auto 0;
  padding: 1em;
  font-family: "TrebuchetMS"; }

.login--link {
  margin-top: 0.5rem;
  font-size: 0.85em;
  display: block; }
  .login--link:first-of-type {
    margin-top: 1rem; }
  .login--link:hover {
    text-decoration: underline; }

.social--icons {
  box-shadow: 3px 5px 5px #ccc, -3px 0 5px #ccc;
  width: 90%;
  margin: 1rem auto 0;
  padding: 1em; }
  .social--icons span {
    display: block;
    font-size: 2.5em; }
    .social--icons span:hover + p {
      color: #000;
      margin-left: 1rem;
      opacity: 1; }

.social--icon {
  display: flex; }
  .social--icon:not(:first-child) {
    margin-top: 1rem; }

.social--label {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25em;
  align-self: center;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #f4f7fe;
  text-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 3px #ccc;
  color: #8d8d8d;
  transition: all 0.3s;
  padding: 0.25em 0.85em;
  opacity: 0; }

.find--form {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
  overflow: hidden; }
  .find--form input {
    width: var(--input-width);
    font-size: 1em;
    padding: 0.5em;
    border: none; }
  .find--form button {
    width: calc(100% - var(--input-width));
    border: none;
    border-left: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.5s; }
    .find--form button:hover {
      background-color: #ccc; }
  .find--form input,
  .find--form button {
    background: transparent; }

.form-group {
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ccc;
  display: flex;
  overflow: hidden; }
  .form-group:focus-within {
    box-shadow: 1px 1px 1px blue, -1px -1px 1px blue; }
  .form-group label {
    text-align: center;
    width: calc(100% - var(--input-form-group));
    align-self: center;
    display: block; }
  .form-group input {
    width: var(--input-form-group);
    border: none;
    padding: 0.35em;
    padding-left: 0;
    font-size: 1em; }
    .form-group input:focus {
      outline: none; }
  .form-group a {
    color: inherit; }

.button-group {
  display: flex;
  justify-content: space-between; }

.tw {
  color: var(--color-tw); }

.fb {
  color: var(--color-fb); }

.go {
  color: var(--color-go); }

.yu {
  color: var(--color-yu); }

.featuring--box {
  box-shadow: 3px 5px 5px #ccc, -3px 0 5px #ccc;
  margin: 1rem auto 0;
  padding: 1em;
  font-family: "TrebuchetMS"; }
  .featuring--box h5 {
    text-align: center;
    line-height: 2.5;
    font-size: 1.15em; }

/*  FIN Aside */
/* BOTÓN DE IR AL BLOG */
.blog--link {
  display: block;
  margin-top: 4rem;
  font-family: "BebasNeue";
  font-size: 2.5em;
  letter-spacing: 3px;
  padding: 0.85em;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc, 0 1px 2px #ccc;
  text-align: center;
  color: var(--color-card);
  transition: all 0.5s; }
  .blog--link:hover {
    border: 10px solid var(--bg-logo);
    border-radius: 160px;
    background-color: #333;
    color: var(--bg-logo);
    box-shadow: 0 0 10px #ccc;
    text-shadow: 1px 1px 1px #000, 1px 2px 1px #000,  1px 3px 1px #000, 1px 4px 1px #000, 1px 5px 1px #000, 1px 6px 1px #000;
    animation: neon 10s infinite linear; }

@keyframes neon {
  0% {
    border-color: var(--bg-logo); }
  25% {
    border-color: var(--color-p-card); }
  50% {
    border-color: var(--color-card); }
  75% {
    border-color: var(--color-yu); }
  100% {
    border-color: purple; } }

footer {
  background-color: #000;
  color: #fff;
  padding: 1em 0;
  font-family: "Trebuchet MS"; }

.footer--container {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between; }

.flex-item {
  width: 30%; }
  .flex-item h2 {
    text-align: center;
    font-family: "BebasNeue";
    letter-spacing: 2px;
    font-weight: normal;
    background: url(../img/pxgray.png) #fff;
    box-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    padding: 0.1em;
    margin-top: 1rem;
    font-size: 2.5em;
    color: #000; }
  .flex-item ul {
    margin-top: 1rem;
    margin-left: 1rem; }
  .flex-item li {
    font-size: 1.5em;
    line-height: 2.5;
    border-bottom: 1px solid #ccc; }
  .flex-item a {
    display: block;
    color: var(--bg-logo);
    transition: all 0.5s; }
    .flex-item a:hover {
      color: var(--color-p-card);
      padding-left: 2em; }

.location iframe {
  margin-top: 2rem;
  width: 100%; }

.image {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .image img {
    width: 50px; }
  .image .html5 {
    width: 100%; }

.author p {
  margin-top: 1rem;
  text-align: center;
  color: var(--bg-logo); }
