*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.caja {
  margin: 20px;
  line-height: 200px;
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: #2ec4b6;
  border-radius: 30px;
  box-shadow: 3px 3px 5px #000, 5px 5px 10px #000; }
