body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav a {
	transition: all 0.3s;
	&:hover {
		background-color: rgba(#000, 0.8);
	}
}

.caja {
	background-color: green;
	height: 100px;
	margin-right: 1rem;
	margin-top: 1rem;

	&:last-child {
		margin-right: 0;
	}
}

.content {
	padding: 1.5rem 3rem;
}

footer {
	flex-grow: 1;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		margin: 0;
	}
}

.galeria {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
}
