:root {
	// Colores

	--bg-it: #f2cb05;
	--bg-black-it: #212121;
	--bg-white-it: #efefef;
	--bg-blue-it: #263238;
	--bg-light-it: #4f5b62;
	--bg-yellow-it: #ffee58;

	--color-it: #262221;
	--color-btn: #f1f7ee;

	--bg-social: #6a1b9a;
	--bg-social-hover: #9c4dcc;
	--color-social: #fff;

	--bg-slider: #000063;
	--color-slider: #fff;

	// Margin

	--margin-top: 2rem;
}
