.cards {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	flex-basis: 17%;
	background-color: #fff;
	color: var(--color-card);
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #ccc;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	cursor: pointer;

	&--icon {
		color: initial;
		font-family: "icons";
		font-size: 3em;
		display: inline-block;
		margin-top: 1.5rem;
	}

	&--title {
		margin-top: 2rem;
	}

	&--content {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		padding: 0 0.5em;
		color: var(--color-p-card);
	}
}
