.content {
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;

	h2,
	h3 {
		text-align: center;
		font-family: "BebasNeue";
		letter-spacing: 2px;
		font-weight: normal;
		background: url(../img/pxgray.png);
		box-shadow: 2px 2px 2px #000;
		padding: 0.25em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}
}

.entry {
	font-size: 0.9em;
	margin-top: 3rem;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px #ccc;
	padding: 1em;
	position: relative;
	font-family: "TrebuchetMS";

	&--title {
		color: var(--color-card);
		font-size: 1.5em;
	}

	&--content {
		// text-align: justify;
		margin-top: 1rem;
	}

	&--header {
		background-color: var(--bg-h-article);
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		padding: 0.5em;
		border-radius: 0 0 2px 2px;
		font-size: 0.85em;
	}

	&--link {
		display: inline-block;
		margin-top: 1rem;
		color: var(--color-p-card);

		&:hover {
			text-decoration: underline;
		}
	}
}

.last-articles {
	width: 70%;
	h2 {
		text-transform: uppercase;
	}
}

.aside {
	width: 25%;

	h3 {
		margin-top: 2rem;
	}

	.find--title {
		margin-top: 0;
	}
}

[class$="form"] {
	margin-top: 2rem;
}

.login--form {
	margin-top: 0;
}

.login--box {
	box-shadow: 3px 5px 5px #ccc, -3px 0 5px #ccc;
	width: 90%;
	margin: 1rem auto 0;
	padding: 1em;
}

.social--icons {
	box-shadow: 3px 5px 5px #ccc, -3px 0 5px #ccc;
	width: 60%;
	margin: 1rem auto 0;
	padding: 1em;
	text-align: center;

	span {
		display: block;
		font-size: 2.5em;

		&:not(:first-child) {
			margin-top: 1rem;
		}
	}
}

.find--form {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #ccc inset;
	overflow: hidden;

	input {
		width: var(--input-width);
		font-size: 1em;
		padding: 0.5em;
		border: none;
	}

	button {
		width: calc(100% - var(--input-width));
		border: none;
		border-left: 1px solid #ccc;
		cursor: pointer;
		transition: all 0.5s;

		&:hover {
			background-color: #ccc;
		}
	}

	input,
	button {
		background: transparent;
	}
}

.form-group {
	margin-top: 1rem;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #ccc;
	display: flex;
	overflow: hidden;

	&:focus-within {
		box-shadow: 0 0 3px blue;
	}

	label {
		text-align: center;
		width: calc(100% - var(--input-form-group));
		align-self: center;
		display: block;
	}

	input {
		width: var(--input-form-group);
		border: none;
		padding: 0.35em;
		padding-left: 0;
		font-size: 1em;

		&:focus {
			outline: none;
		}
	}

	a {
		color: inherit;
	}
}

.tw {
	color: var(--color-tw);
}

.fb {
	color: var(--color-fb);
}

.go {
	color: var(--color-go);
}

.yu {
	color: var(--color-yu);
}
