footer {
	background-color: #000;
	color: #fff;
	padding: 1em 0;
	font-family: "Trebuchet MS";
}

.footer--container {
	width: 90%;
	max-width: 1200px;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	@include from($medium) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.flex-item {
	@include from($medium) {
		width: 45%;
	}

	@include from(1000px) {
		width: 30%;
	}

	h2 {
		text-align: center;
		font-family: "BebasNeue";
		letter-spacing: 2px;
		font-weight: normal;
		background: url(../img/pxgray.png) #fff;
		box-shadow: 2px 2px 2px #000;
		border-radius: 5px;
		padding: 0.1em;
		margin-top: 1rem;
		font-size: var(--size-h2-footer);
		color: #000;
	}

	ul {
		margin-top: 1rem;
		margin-left: 1rem;
	}

	li {
		font-size: var(--size-li-footer);
		line-height: 2.5;
		border-bottom: 1px solid #ccc;
	}

	a {
		display: block;
		color: var(--bg-logo);
		transition: all 0.5s;

		&:hover {
			color: var(--color-p-card);
			padding-left: 2em;
		}
	}
}

.location {
	iframe {
		margin-top: 2rem;
		width: 100%;
		height: 400px;

		@include from($medium) {
			height: 300px;
		}
	}

	margin-top: 2rem;
	order: 1;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@include from($medium) {
		width: 85%;
	}
	@include from(1000px) {
		margin-top: 0;
		width: 30%;
		order: 0;
	}
}

a.html5--link {
	flex-basis: 85% !important;
}

.image {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	a {
		flex: 0 1 15%;
	}

	img {
		width: 100%;
		// width: var(--width-icon-footer);
		// flex: 0 0 30px;
	}

	.html5 {
		width: 100%;
	}
}

.author p {
	margin-top: 1rem;
	text-align: center;
	color: var(--bg-logo);
}

.others {
	margin-top: 2rem;
	@include from($medium) {
		margin-top: 0;
	}
}
