footer {
	background-color: #000;
	color: #fff;
	padding: 1em 0;
	font-family: "Trebuchet MS";
}

.footer--container {
	width: 90%;
	max-width: 1200px;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
}

.flex-item {
	width: 30%;

	h2 {
		text-align: center;
		font-family: "BebasNeue";
		letter-spacing: 2px;
		font-weight: normal;
		background: url(../img/pxgray.png) #fff;
		box-shadow: 2px 2px 2px #000;
		border-radius: 5px;
		padding: 0.25em;
		margin-top: 1rem;
		font-size: 2em;
		color: #000;
	}

	ul {
		margin-top: 1rem;
	}

	li {
		display: block;
		font-size: 1.5em;
		line-height: 2.5;
		border-bottom: 1px solid #ccc;
	}

	a {
		color: var(--bg-logo);
		transition: all 0.5s;

		&:hover {
			color: var(--color-p-card);
		}
	}
}

.location {
	iframe {
		margin-top: 2rem;
		width: 100%;
	}
}

.image {
	margin-top: 1rem;
	display: flex;
	justify-content: center;

	img {
		width: 100%;
	}
}
