@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin from($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

:root {
	--height-header: 4.375rem;
	--bg-logo: #f2cb05;
	--color-card: #00538c;
	--color-p-card: #0a96f7;
	--color-icon-hover: #37bcf9;
	--bg-h-article: #393d3f;
	--bg-button: #31a7d2;
	--color-fb: #3b5998;
	--color-tw: #00acee;
	--color-go: #db4a39;
	--color-yu: #c4302b;

	--input-width: 85%;
	--input-form-group: 85%;

	/* Tiempos */

	--time-logo: 0.5s;

	/* Font size */

	--size-banner: 1em;

	@include from(400px) {
		--size-banner: 1.25em;
	}

	@include from(500px) {
		--size-banner: 1.5em;
	}

	@include from(768px) {
		--size-banner: 2em;
	}
}
