:root {
	--height-header: 4.375rem;
	--bg-logo: #f2cb05;
	--color-card: #00538c;
	--color-p-card: #0a96f7;
	--bg-h-article: #393d3f;
	--bg-button: #31a7d2;
	--color-fb: #3b5998;
	--color-tw: #00acee;
	--color-go: #db4a39;
	--color-yu: #c4302b;

	--input-width: 85%;
	--input-form-group: 85%;

	/* Tiempos */

	--time-logo: .5s;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
